.pageNavigation {
    color: $white-clr;
    background: $white-clr;
    ul {
        display: flex;
        li {
            flex-grow: 1;
            border-bottom: 8px $nav-brd-clr solid;
            a,
            a:hover {
                color: $disable-chk-clr;
                display: block;
                text-align: center;
                height: 90px;
                padding-top: 55px;
                position: relative;
                display: none;
                font-family: 'Poppins-400'
            }
            &.complete {
                border-bottom: 8px $primary-btn-bg solid;
                a,
                a:hover {
                    color: $label-txt-clr;
                }
                .nav-icons {
                    color: $label-txt-clr;
                }
            }
            &.unComplete {
                border-bottom: 8px $nav-brd-clr solid;
                a,
                a:hover {
                    color: $disable-chk-clr;
                    pointer-events: none;
                }
                .nav-icons {
                    color: $disable-chk-clr;
                }
            }
            &.current {
                border-bottom: 8px $primary-btn-bg solid;
                a,
                a:hover {
                    color: $label-txt-clr;
                    font-family: 'Poppins-600';
                }
                .nav-icons {
                    color: $primary-btn-bg;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .pageNavigation {
        ul {
            li {
                a,
                a:hover {
                    display: block;
                }
            }
        }
    }
}