.pageNavigation {
    color: $white-clr;
    background: $white-clr;
    ul {
        display: flex;
        li {
            flex-grow: 1;
            border-bottom: 8px $nav-brd-clr solid;
            a,
            a:hover {
                color: $disable-clr;
                display: block;
                text-align: center;
                height: 90px;
                padding-top: 55px;
                position: relative;
                display: none;
            }
            &.complete 
            {
                border-bottom: 8px $primary-btn-bg solid;
                a,
                a:hover {
                    color: $blk-clr;
                }
                .nav-icons {
                    color: $blk-clr;
                }
            }

              &.unComplete {
                    border-bottom: 8px $nav-brd-clr solid;
                    a,
                    a:hover {
                        color: $grey-clr;
                    }
                    .nav-icons {
                        color: $nav-brd-clr;
                    }
                }

            &.current {
                    border-bottom: 8px $primary-btn-bg solid;
                    a,
                    a:hover {
                        color: $blk-clr;
                    }
                    .nav-icons {
                        color: $primary-btn-bg;
                    }
                } 
        }
    }
}


@media (min-width: 1024px) {
    .pageNavigation {
        ul {
            li {

                a,
                a:hover {
                    display: block;
                }
            }
        }
    }
}