<nav class="pageNavigation  slds-m-bottom_large">
    <div>
        <div class="slds-grid slds-wrap slds-grid_align-center">
            <div class="slds-col slds-size_6-of-6">
                <ul>
                    <li class="complete">
                        <a href="#"><i class="material-icons nav-icons ">directions_car </i>  The car</a></li>
                    <li><a href="#"><i class="material-icons nav-icons ">
					person</i> Personal Details</a></li>
                    <li><a href="#"><i class="material-icons nav-icons"> home</i> Living situation</a></li>
                    <li><a href="#"><i class="material-icons nav-icons">assignment_turned_in </i> Employment </a></li>
                    <li><a href="#"><i class="material-icons nav-icons">attach_money </i> Finances </a></li>
                    <li><a href="#"><i class="material-icons nav-icons">dvr </i> Review </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>