.submitBtn {
    min-height: 0;
}

.submitBtn .formElem {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding: 20px 0px;
    width: calc(100% - 58px);
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-top: 1px solid $border-clr;
    background: $white-clr;
    z-index: 99;

    &.stepsAction {
        border-top: 1px solid $brd-box;
        padding-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: calc(100% - 74px);
    }

    .slds-button {
        min-width: auto;
    }
    &.expandedBtn {
        .slds-button {
            min-width: calc(100% - 60px);
        }
        position: fixed;
        width: 100%;
    }
}

.slds-button {
    &.primaryBtn {
        @include buttonWrapper($primary-btn-bg, $white-clr);
    }
    &:disabled {
        background-color: $disable-chk-clr !important;
        border-color: $disable-chk-clr !important;
    }
    &.applyBtn {
        @include buttonWrapper($secondary-btn-bg, $white-clr);
    }

    &.verify {

        background-color: $verify-clr;
        width: 100%;
    }

    &.btnBack {
        min-width: 80px!important;
        @include buttonWrapper($secondary-btn-bg, $white-clr);
        height: 40px;
        line-height: 40px;
    }

    &.btnSave {
        min-width: 190px!important;
        @include buttonWrapper($secondary-btn-bg, $white-clr);
        height: 40px;
        line-height: 40px;
    }
    &.btnhead {
        @include buttonWrapper($heading-clr, $white-clr);
        border-radius: 30px;
    }

    &.btnheadSnd {
        min-width: 80px!important;
        height: 40px!important;
        line-height: 40px!important;
    }

    &.btnSecondary {
        @include buttonWrapper($white-clr, $blk-clr);
        border-radius: 30px;
        border-color: $grey-clr;
        min-width: 110px;
    }

    &.editBtn {
        min-width: 80px;
        height: 40px;
        line-height: 40px;
    }

    &.btnlarge {

        min-width: 275px!important;
    }

    &.arwButton {
        min-width: 8px !important;
        height: 28px;
        padding: 0px;
        line-height: 27px;

        color: $placeholder-clr;
        border: 2px $disable-clr solid;
        i {
            font-size: $fnt24;
        }
    }

    &.backButton {
        min-width: 35px!important;
        height: 35px;
        line-height: 35px;
        padding: 0px;
        color: $blk-clr;
        border: 2px $brd-clr-trd solid;
        background: none;
        margin-left: 30px;

        i {
            font-size: $fnt20!important;
        }
    }

    &.plusButton {
        min-width: 8px !important;
        height: 28px;
        padding: 0px;
        line-height: 27px;
        line-height: 27px;
        color: $placeholder-clr;
        border: none;
        i {
            font-size: $fnt32;
        }
    }

    &.doneBtn {
        min-width: 140px!important;
    }
}

.button_small {
    height: 0;
}

.slds-button {
    &.defaultBtn {
        @include buttonWrapper($white-clr, $secondary-btn-bg);
        border-color: $secondary-btn-bg;
        width: 100%;
        font-family: 'Poppins-500';
        height: 50px;
        line-height: 45px;
        border-width: 2px;
    }

    &.defaultBtnSnd {
        @include buttonWrapper($white-clr, $secondary-btn-bg);
        border-color: $secondary-btn-bg;
        width: auto;
        font-family: 'Poppins-500';
        height: 40px;
        line-height: 35px;
        border-width: 2px;
    }

    &.defaultBtnHeight {
        height: 40px;
        line-height: 40px;
    }

    &.defaultBtnHeight2 {
        height: 50px;
        line-height: 50px;
    }
}

@media (min-width: 1024px) {

    .slds-button {

        &.backButton {
            margin-left: 0px;
        }
    }

    .button_small {
        height: auto;
    }
    .submitBtn {
        min-height: 0;

        .formElem {
            position: static;
            text-align: left;
            border: 0;
            padding: 0;
            margin-bottom: 0;
            width: auto;
            left: 0;
            transform: translateX(0);
            .slds-button {
                min-width: 200px;
            }
            &.expandedBtn {
                .slds-button {
                    min-width: 200px;
                }
                position: static;
            }
            &.stepsAction {
                margin-left: -40px;
                margin-right: -40px;
                padding-left: 40px;
                padding-right: 40px;
                width: auto;
            }
        }
    }
}