.submitBtn {
		min-height: 0;
	}
	.submitBtn .formElem{
		position: fixed;
		bottom: 0;
		margin-bottom: 0;
		padding: 20px 30px;
		width: 100%;
		left: 0;
		text-align: center;
		border-top: 1px solid #dfe4e4;
		background: $white-clr;
		z-index: 98;

		.slds-button{
			min-width: 100%;
		}
	}

.slds-button{
	&.primaryBtn{
		@include buttonWrapper($primary-btn-bg, $white-clr);
	}
	&.applyBtn{
		@include buttonWrapper($secondary-btn-bg, $white-clr);
	}

	 &.btnBack 
		    {
		    	min-width:80px!important;
		    	@include buttonWrapper($secondary-btn-bg, $white-clr);
		    	height:40px;
		   		line-height:40px;
		    }

	 &.btnSave 
		    {
		    	min-width:190px!important;
		    	@include buttonWrapper($secondary-btn-bg, $white-clr);
		    	height:40px;
		   		line-height:40px;
		    }
	 &.btnhead 
	 {
	 		@include buttonWrapper($heading-clr, $white-clr);
	 		border-radius:30px;
	 		
	 }	 

	 &.btnSecondary 
	 {
	 		@include buttonWrapper($white-clr, $blk-clr);
	 		border-radius:30px;
	 		border-color:$grey-clr;
	 		min-width:110px;
	 }	    
}

.button_small{
	height: 0;
}

.slds-button{
	&.defaultBtn{
		@include buttonWrapper($white-clr, $secondary-btn-bg);
		border-color: $secondary-btn-bg;
		width: 100%;
		font-weight: 500;
		height: 50px;
		line-height: 45px;
		border-width: 2px;
	}
}

@media (min-width: 1024px){
	.button_small{
		height: auto;
	}
	.submitBtn {
		min-height: 0;
	}
	.submitBtn .formElem{
		position: static;
		text-align: left;
		border: 0;
		padding: 0;
		margin-bottom: 3em;
		.slds-button{
			min-width: 200px;
		}
	}
}