.formElem {
    @extend .slds-m-bottom_x-large;
    position: relative;
    label {
        display: block;
        width: 100%;
    }
    .input_fields {
        position: relative;
        input,
        input:focus,
        input:active,
        select,
        select:focus,
        select:active {
            display: block;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $border-clr;
            padding: 15px 15px 15px 0px;
            font-size: 16px;
            font-family: 'Poppins-600';
            color: $field-txt-clr;
            outline: none;
            transition: border-bottom .3s ease-in-out;
        }
        input:focus,
        select:focus {
            border-bottom-color: $secondary-btn-bg;
        }
        &.complete input {
            border-bottom-color: $verify-clr;
            background: url('../images/icons/check.svg') no-repeat right center;
            background-size: 12px;
        }


        &.amount:before {
            content: "";
            background: url('../images/icons/dollar.svg') no-repeat left center;
            background-size: 17px;
            width: 20px;
            height: 20px;
            display: block;
            top: 2em;
            position: absolute;
            transform: translateY(-50%);
        }

        .errMsg {
            display: none;
        }
        &.error {
            input {
                background: url('../images/icons/err_close.svg') no-repeat right center;
                background-size: 12px;
                border-bottom-color: $error-clr;
            }
            .errMsg {
                display: block;
                height: 60px;
                background: $errbg-clr url('../images/icons/err_close.svg') no-repeat 95% center;
                background-size: 20px;
                line-height: 60px;
                font-style: normal;
                color: $error-clr;
                font-size: $fnt16;
                padding: 0 50px 0 20px;
                margin-top: 7px;
            }
        }

        select,
        select:focus,
        select:active {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            border-radius: 0;
            position: relative;
            z-index: 1;
        }
    }

    .cs_selectbox {
        width: 100%;
        position: relative;
        z-index: 10;
        transition: z-index .3s ease-in-out;
        .selection {
            border-bottom: 2px solid $border-clr;
            display: block;
            padding: 15px 15px 15px 0px;
            border-radius: 0;
            width: 100%;
            position: relative;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Poppins-600';
            transition: background-position .3s ease-in-out, padding-left .3s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                background: url('../images/icons/down_arrow.svg') no-repeat center center;
                width: 20px;
                height: 20px;
                background-size: 100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                transition: transform .3s ease-in-out, right .3s ease-in-out;
            }
            &.no_padding {
                padding-left: 0px;
            }
        }
        .optionsList {
            border: 0;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            top: -20px;
            padding-top: 96px;
            background: $white-clr;
            z-index: -1;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            max-height: 400px;
            opacity: 1;
            transition: max-height .3s ease-in-out, opacity .5s ease-in-out;

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                width: 100%;
                overflow-y: auto;
                height: 100%;
                max-height: 260px;
                position: relative;

                li label {
                    padding: 10px 10px 10px 15px;
                    display: block;
                    cursor: pointer;
                    background: $white-clr;
                    font-size: 16px;
                    font-family: 'Poppins-600';
                    position: relative;
                    &:hover {
                        background: $options-gry-clr;
                    }
                }
                li input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }
                li:last-child {
                    margin-bottom: 15px;
                }
            }
        }

        .thumbs_up,
        .thumbs_down {
            background: url('../../images/icons/thumbs-up.svg') no-repeat 0 center;
            background-size: 16px;
            width: 16px;
            height: 16px;
            margin-right: 12px;
            display: inline-block;
        }
        .thumbs_down {
            transform: rotate(180deg);
            position: relative;
            top: 5px;
        }

        .field_label {
            padding-left: 0;
            transition: padding-left .3s ease-in-out;
        }

        &:focus {
            outline: none;
            z-index: 11;

            .field_label {
                padding-left: 15px;
            }
            .selection {
                background-position: 15px center;
            }
            .selection {
                padding-left: 15px;
            }
            .selection.no_padding {
                padding-left: 15px;
            }
        }

        &:focus>.selection:after {
            right: 15px;
            transform: rotate(180deg) translateY(50%);
        }

        &:not(:focus)>.optionsList {
            max-height: 0;
            opacity: 0;
        }

        &.no_label {
            text-align: left;
            .selection {
                padding: 0 0 0 30px;
                border: 0;
            }
            &:focus {
                color: $blk-clr;
            }
            .optionsList {
                padding-top: 50px;
            }
            &:focus {
                .selection {
                    padding-left: 45px;
                }
            }
        }
    }

    /*---------------------*/
    .autosuggest {
        width: 100%;
        position: relative;
        z-index: 9;
        outline: none;

        &:focus {
            z-index: 99;
        }

        .selection {
            border-bottom: 2px solid $border-clr;
            display: block;
            padding: 15px 15px 15px 0px;
            border-radius: 0;
            width: 100%;
            position: relative;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Poppins-600';
            transition: background-position .3s ease-in-out, padding-left .3s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                background: url('../images/icons/down_arrow.svg') no-repeat center center;
                width: 20px;
                height: 20px;
                background-size: 100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                transition: transform .3s ease-in-out;
            }
            &.no_padding {
                padding-left: 0px;
            }
        }
        .optionsList {
            border: 0;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            top: -20px; //padding-top: 96px;
            background: transparent;
            z-index: -1;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            max-height: 400px;
            opacity: 1;
            transition: max-height .3s ease-in-out, opacity .3s ease-in-out;

            ul {
                padding: 0;
                margin: 0;
                margin-top: 96px;
                list-style-type: none;
                width: 100%;
                overflow-y: auto;
                height: 100%;
                max-height: 260px;
                position: relative;

                li label {
                    padding: 10px 10px 10px 15px;
                    display: block;
                    cursor: pointer;
                    background: $white-clr;
                    font-size: 16px;
                    font-family: 'Poppins-600';
                    position: relative;
                    &:hover {
                        background: $options-gry-clr;
                    }
                }
                li input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }
                li:last-child {
                    margin-bottom: 15px;
                }
            }
        }
        input[type="text"],
        input[type="text"]:focus {
            width: 100%;
            height: 56px;
            line-height: 56px;
            padding: 15px 15px 15px 0;
            box-sizing: border-box;
            font-size: 16px;
            outline: none;
            border: 0;
            border-bottom: 2px solid $border-clr;
            background: transparent;
            font-family: 'Poppins-600';
            
            transition: padding .3s ease-in-out;
        }
        input[type="text"]:focus {
            padding: 15px 15px 15px 15px;
        }
        input[type="text"]::placeholder {
            font-family: 'Poppins-600';
            font-size: 16px;
            color: $placeholder-clr;
        }
        input[type="text"]:not(:focus)+.optionsList {
            opacity: 0;
            /*max-height:0;*/
        }

        .field_label {
            padding-left: 0;
            transition: padding-left .3s ease-in-out;
        }
        .field_label.slide_right {
            padding-left: 15px;
        }
    }
    /*--------------------*/

    .tooltip_info_heading {
        right: 0px;
        top: 22%;
    }

    .tooltip_info_heading1 {
        right: 0px;
        top: 10%;
    }
    .editLink {
        position: absolute;
        right: -40px;
        top: 60%;
        font-style: normal;
        font-size: $fnt16;
    }
}


@media (min-width: 1024px) {
    .formElem {
        margin-bottom: 3.5em;
        .tooltip_info {
            display: block;
        }
    }
}