.formElem {
    @extend .slds-m-bottom_x-large;

    position: relative;
 
   .field_label {
            padding-left: 0;
            transition: padding-left .3s ease-in-out;
            display: block;
            width: 100%;
            color:$label-txt-clr;
            opacity: 0.6;
        }

    .input_fields {
        position: relative;
        input,
        input:focus,
        input:active,
        select,
        select:focus,
        select:active {
            display: block;
            width: 100%;
            border: 0;
            border-bottom: 2px solid $border-clr;
            padding: 15px 15px 15px 0px;
            font-size: 16px;
            font-family: 'Poppins-800';
            color: $active-clr;
            outline: none;
            transition: border-bottom .3s ease-in-out;
        }
        input:focus,
        select:focus {
            border-bottom-color: $secondary-btn-bg;
        }
        &.complete input {
            border-bottom-color: $verify-clr;
            background: url('../images/icons/check.svg') no-repeat right center;
            background-size: 12px;
        }


        &.amount{
            .material-icons{
                position: absolute;
                top: 14px;
                z-index: 9;
                font-weight: bold;
                font-size: $fnt18;
            }
            input[type="text"],
            input[type="number"]{
                padding-left: 16px;
            }
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }

        .errMsg {
            display: none;
        }

        select,
        select:focus,
        select:active {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            border-radius: 0;
            position: relative;
            z-index: 1;
        }

        .slds-form-element__label{
            display: none;
        }
    }

    .error {
        input {
            background: url('../images/icons/err_close.svg') no-repeat right center;
            background-size: 12px;
            border-bottom-color: $error-clr;
        }
        .errMsg {
            display: block;
            min-height: 60px;
            background: $errbg-clr;
            font-style: normal;
            color: $error-clr;
            font-size: $fnt16;
            padding: 15px;
            margin-top: 5px;
        }
        .selection{
            border-bottom-color: $error-clr !important;
        }
    }
    .errMsg {
        display: none;
        min-height: 60px;
        background: $errbg-clr;
        font-style: normal;
        color: $error-clr;
        font-size: $fnt16;
        padding: 15px;
        margin-top: 5px;
    }

    legend.slds-form-element__label{
        display: none;
    }

    .cs_selectbox {
        width: 100%;
        position: relative;
        z-index: 10;
        transition: z-index .3s ease-in-out;
        .selection {
            border-bottom: 2px solid $border-clr;
            display: block;
            padding: 15px 15px 15px 0px;
            border-radius: 0;
            width: 100%;
            position: relative;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Poppins-800';
            transition: background-position .3s ease-in-out, padding-left .3s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                background: url('../images/icons/down_arrow.svg') no-repeat center center;
                width: 20px;
                height: 20px;
                background-size: 100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                transition: transform .3s ease-in-out, right .3s ease-in-out;
            }
            &.no_padding {
                padding-left: 0px;
            }
            &:focus{
                outline: none;
            }
        }
        .selection + .optionsList {
            border: 0;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            top: -20px;
            padding-top: 96px;
            background: $white-clr;
            z-index: -1;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            max-height: 400px;
            opacity: 1;
            transition: max-height .3s ease-in-out, opacity .5s ease-in-out;

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                width: 100%;
                overflow-y: auto;
                height: 100%;
                max-height: 260px;
                position: relative;

                li label {
                    padding: 10px 10px 10px 15px;
                    display: block;
                    cursor: pointer;
                    background: $white-clr;
                    font-size: 16px;
                    font-family: 'Poppins-600';
                    position: relative;
                    &:hover {
                        background: $options-gry-clr;
                    }
                }
                li input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }
                li:last-child {
                    margin-bottom: 15px;
                }
            }
        }

        .thumbs_up,
        .thumbs_down {
            background: url('../../images/icons/thumbs-up.svg') no-repeat 0 center;
            background-size: 16px;
            width: 16px;
            height: 16px;
            margin-right: 12px;
            display: inline-block;
        }
        .thumbs_down {
            transform: rotate(180deg);
            position: relative;
            top: 5px;
        }

     

        &:focus-within {
            outline: none;
            z-index: 999;

            /*.field_label {
                padding-left: 15px;
            }*/
            .selection.no_padding {
                padding-left: 15px;
            }

        }

        .selection:focus{
            background-position: 15px center;
            padding-left: 15px;


        }

        .selection:focus:after {
            right: 15px;
            transform: rotate(180deg) translateY(50%);
        }

        .selection:not(:focus) + .optionsList {
            max-height: 0;
            opacity: 0;
        }

        &.no_label {
            text-align: left;
            .selection {
                padding: 0 0 0 30px;
                border: 0;
            }
            &:focus {
                color: $blk-clr;
            }
            .optionsList {
                padding-top: 50px;
            }
            &:focus {
                .selection {
                    padding-left: 45px;
                }
            }
        }
    }

    /*---------------------*/
    .autosuggest {
        width: 100%;
        position: relative;
        z-index: 9;
        outline: none;

        &:focus {
            z-index: 99;
        }

        .selection {
            border-bottom: 2px solid $border-clr;
            display: block;
            padding: 15px 15px 15px 0px;
            border-radius: 0;
            width: 100%;
            position: relative;
            background: transparent;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Poppins-600';
            transition: background-position .3s ease-in-out, padding-left .3s ease-in-out;
            &:after {
                content: "";
                position: absolute;
                background: url('../images/icons/down_arrow.svg') no-repeat center center;
                width: 20px;
                height: 20px;
                background-size: 100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
                transition: transform .3s ease-in-out;
            }
            &.no_padding {
                padding-left: 0px;
            }
        }
        .optionsList {
            border: 0;
            border-radius: 4px;
            width: 100%;
            position: absolute;
            top: -20px; //padding-top: 96px;
            background: $white-clr;
            z-index: -1;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.2);
            max-height: 400px;
            opacity: 1;
            transition: max-height .3s ease-in-out, opacity .3s ease-in-out;

            ul {
                padding: 0;
                margin: 0;
                margin-top: 96px;
                list-style-type: none;
                width: 100%;
                overflow-y: auto;
                height: 100%;
                max-height: 260px;
                position: relative;

                li label {
                    padding: 10px 10px 10px 15px;
                    display: block;
                    cursor: pointer;
                    background: $white-clr;
                    font-size: 16px;
                    font-family: 'Poppins-600';
                    position: relative;
                    &:hover {
                        background: $options-gry-clr;
                    }
                }
                li input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }
                li:last-child {
                    margin-bottom: 15px;
                }
            }
        }
        input[type="text"],
        input[type="text"]:focus {
            width: 100%;
            height: 56px;
            line-height: 56px;
            padding: 15px 15px 15px 0;
            box-sizing: border-box;
            font-size: 16px;
            outline: none;
            border: 0;
            border-bottom: 2px solid $border-clr;
            background: transparent;
            font-family: 'Poppins-600';
            
            transition: padding .3s ease-in-out;
        }
        input[type="text"]:focus {
            padding: 15px 15px 15px 15px;
        }
        input[type="text"]::placeholder {
            font-family: 'Poppins-600';
            font-size: 16px;
            color: $placeholder-clr;
        }
        input[type="text"]:not(:focus)+.optionsList {
            opacity: 0;
            /*max-height:0px;*/
        }

        .field_label {
            padding-left: 0;
            transition: padding-left .3s ease-in-out;
             display: block;
            width: 100%;
            color:$label-txt-clr;
            opacity: 0.6;

        }
        .field_label.slide_right {
            padding-left: 15px;
        }
    }
    /*--------------------*/

    .tooltip_info_heading {
        right: 0px;
        top: 22%;
    }

    .tooltip_info_heading1 {
        right: 0px!important;
        top: 10%!important;
    }

   
    .editLink {
        position: absolute;
        right: -40px;
        top: 60%;
        font-style: normal;
        font-size: $fnt16;
    }
}

.slds-datepicker .slds-select,
.slds-datepicker .slds-select:focus{
    padding: 5px 15px 0px 0 !important;
    box-shadow: none !important;
}


label.slideCheckbox, label.slideRadio{
    width: 70px;
    background: #ecf0f1;
    border-radius: 10px;
    height: 40px;
    display: block;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    input[type="checkbox"]{
        position: absolute;
        opacity: 0;
    }
}

label.slideRadio{
    border-radius: 100px;
    padding: 0;

    .slds-checkbox_faux{
        display: none;
    }

    input[type="checkbox"]{
        & + em,
        & + label{
            background: $disable-clr url('../images/icons/err_close.svg') no-repeat 80% center;
            background-size: 20%;
            width: 100%;
            height: 40px;
            display: block;
            position: relative;
            transition: background-color .2s ease-in-out;
            border-radius: 100px;
            cursor: pointer;

            &:before{
                content:"";
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: #fff;
                transition: left .2s ease-in-out;
            }
        }
        &:checked + em,
        &:checked + label{
            background: $verify-clr url('../images/icons/white_check.svg') no-repeat 20% center;
            background-size: 20%;

            &:before{
                left: calc(100% - 35px);
            }
        }
    }
}


label.slideCheckbox input[type="checkbox"] + em{
    background: $errbg-clr url('../images/icons/err_close.svg') no-repeat center center;
    background-size: 40%;
    display: block;
    width: 30px;
    height:30px;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    transition: left .2s ease-in-out, background-color .2s ease-in-out;
    &:checked + em{
        background: $white-clr url('../images/icons/white_check.svg') no-repeat center center;
        background-size: 40%;
        position: absolute;
        left: calc(100% - 35px);

    }
}


@media (min-width: 1024px) {
    .formElem {
        margin-bottom: 2.5em;
        .tooltip_info {
            display: block;
        }
    }
}