$white-clr: #ffffff;
$primary-clr: #330072;
$secondary-clr: #2c3e50;
$heading-clr: #25282a;
$secondary-txt-clr: #0a0724;
$label-txt-clr: #141414;
$field-txt-clr: #2b3e51;
$primary-btn-bg: #f23457;
$secondary-btn-bg: #00c1d5;
$verify-clr: #00d78f;
$error-clr: #ff0000;
$border-clr: #dfe4e4;
$border-sclr:#3c4c5c;
$nav-brd-clr: #d8d8d8;
$grey-clr: #f1f1f1;
$disable-clr: #b1b1b1;
$active-clr: #00000e;
$nav_num-clr: #FF0049;
$blk-clr: #000;
$brd-box: #e2e2e2;
$disable-clr: #ecf0f1;
$disable-chk-clr: #9baaab;
$options-gry-clr: #EBF0F1;
$errbg-clr: #fff2f2;
$placeholder-clr: #ccc;
$tooltip-border-clr: #f0f0f0;
$tooltip-shadow-clr: #f1f1f1;
$brd-clr-snd:#e3e3e3;


$fnt12: 12px;
$fnt14: 14px;
$fnt16: 16px;
$fnt18: 18px;
$fnt20: 20px;
$fnt24: 24px;
$fnt25: 25px;
$fnt28: 28px;
$fnt32: 32px;
$fnt60: 60px;
$fnt65: 65px;
$heading1: 50px;
$heading2: 42px;
$heading3: 32px;



.fnt20 {
    font-size: $fnt20;
    font-family: 'Poppins-400';
}

@media (min-width: 1024px){
    $heading3: 32px;
}

.secondary_label{
    color: $disable-chk-clr;
    font-family: 'Poppins-300';
}

//-------------- FONTS --------------

//Light - 300
@font-face {
    font-family: 'Poppins-300';
    src: url('./Fonts/Poppins/Poppins-Light.ttf');
}

//Regular - 400
@font-face {
    font-family: 'Poppins-400';
    src: url('./Fonts/Poppins/Poppins-Regular.ttf');
}

//Medium - 500
@font-face {
    font-family: 'Poppins-500';
    src: url('./Fonts/Poppins/Poppins-Medium.ttf');
}


//SemiBold - 600
@font-face {
    font-family: 'Poppins-600';
    src: url('./Fonts/Poppins/Poppins-SemiBold.ttf');
}

//Bold - 700
@font-face {
    font-family: 'Poppins-700';
    src: url('./Fonts/Poppins/Poppins-Bold.ttf');
}

//ExtraBold - 800
@font-face {
    font-family: 'Poppins-800';
    src: url('./Fonts/Poppins/Poppins-ExtraBold.ttf');
}

//Black - 900
@font-face {
    font-family: 'Poppins-900';
    src: url('./Fonts/Poppins/Poppins-Black.ttf');
}


//font-icons
@font-face {
    font-family: 'Material';
    src: url('./Fonts/Material_fonticons.woff2');
}

//-------------- MIXINS & GENERIC --------------

@mixin buttonWrapper($backgroundClr, $textClr) {
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    background-color: $backgroundClr;
    border-color: $backgroundClr;
    color: $textClr;
    text-align: center;
    font-size: $fnt14;
    font-family: 'Poppins-500';
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
@mixin tooltipMessageBox(){
    min-width: 320px;
    padding: 15px;
    background: $white-clr;
    border-radius: 10px;
    border: 2px solid $tooltip-border-clr;
    font-style: normal;
    box-shadow: 0 0 10px 0px $tooltip-shadow-clr;
    &:before{
    	content:"";
    	width: 15px;
    	height: 15px;
    	border: 2px solid $tooltip-border-clr;
    	background: $white-clr;
    	border-bottom-color: transparent;
    	border-right-color: transparent;
    	display: block;
    	position: absolute;
    	top: -8px;
    	right: 20px;
    	transform: rotate(45deg);

    }
}
.slds-radio .slds-radio__label{
    cursor: pointer;
}
.cstm_input, .slds-radio {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    z-index: 0;
    cursor: pointer;
    padding-left:35px;
    color:$blk-clr;
    padding-top: 4px;
    font-family: 'Poppins-300';
    line-height: 18px;
    font-weight: bold;


    input[type="radio"]+label:before,
    input[type="radio"]+label:after{
        content: "";
    }

    input[type="radio"]+em,
    input[type="radio"]+label:before,
    input[type="checkbox"]+em,
    input[type="checkbox"]+label {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 24px;
        height: 24px;
        border: 2px solid $border-clr;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 0;

    }

    input[type="radio"]+em:before,
    input[type="radio"]+label:after {
        content: "";
        transition: background-color .2s ease-in-out
    }

    input[type="radio"]:checked+em:before,
    input[type="radio"]:checked+label:after {
        content: "";
        width: 50%;
        height: 50%;
        display: block;
        background: $verify-clr;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
    }


    input[type="radio"]:disabled+em,
    input[type="radio"]:disabled+label:before {
        border-color: $disable-clr;
        background: $disable-clr;
    }

    input[type="radio"]:disabled+em:before,
    input[type="radio"]:disabled+label:after {
        content: "";
        width: 50%;
        height: 50%;
        display: block;
        background: $disable-chk-clr;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
    }

    input[type="radio"].blocked+em:before,
    input[type="radio"].blocked+label:after {
        content: "";
        background: transparent;
    }

    input[type="radio"]+label:before,
    input[type="radio"]:checked+label:before{
        top: 2px;
    }
    input[type="radio"]:checked+label:after{
        position: absolute;
        left: 2px !important;
        top: 4px !important;
        width: 10px !important;
        height: 10px !important;
        border-radius: 20px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        opacity: 0;
        position: absolute;
    }

    input[type="checkbox"]+em,
    input[type="checkbox"]+label {
        display: block;
        border-radius: 5px;
        transition: background-color .2s ease-in-out;
    }

    input[type="checkbox"]:checked+em,
    input[type="checkbox"]:checked+label {
        background: $verify-clr url('../images/icons/white_check.svg') no-repeat center center;
        border-color: $verify-clr;
        background-size: 60%;
    }

    input[type="checkbox"]:disabled+em,
    input[type="checkbox"]:disabled+label {
        background: $disable-clr url('../images/icons/disabled_check.svg') no-repeat center center;
        border-color: $disable-clr;
        background-size: 60%;
    }

    input[type="checkbox"].blocked+em,
    input[type="checkbox"].blocked+label {
        background: $disable-clr;
        border-color: $disable-clr;
        background-size: 60%;
    }
    .slds-form-element,
    .slds-form-element__control,
    .slds-checkbox{
        height: 100%;
    }
    .slds-checkbox_faux,
    .slds-radio_faux{
        display: none;
    }
    lightning-input{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.slds-input,
.slds-input:focus,
.slds-input:required,
.slds-input:required:focus{
    border-radius: 0;
    box-shadow: none;
    line-height: inherit;
}
.tooltip_info {
    .material-icons{
        font-size: $fnt25;
    }
    width: 30px !important;
    height: 30px;
    right: -50px;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);

    display: block !important;
    z-index: 99;
    outline: none;
	cursor: pointer;
    .tooltip_msg {
        .material-icons{
            font-size: $fnt14;
        }
    	@include tooltipMessageBox();
        position: absolute;
	    right: -15px;
	    top: 60px;
	    opacity: 0;
        visibility: hidden;
        transition: visibility 0.3s, opacity 0.3s, top 0.3s;
	    cursor: default;
	    .close{
	    	cursor: pointer;
	    }

    }
    &:focus{
        pointer-events: none;
        z-index: 100;
        .tooltip_msg{
            top: 52px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;    
        }
    }
}

.tooltip_info_snd 
{
    top:7px;
    right: 0px;
}


  .tooltip_info_heading2 {
        right: 6px!important;
        bottom: 34px!important;
    }

   