@import '../../node_modules/@salesforce-ux/design-system/scss/index.scss';


@import '_variables';

html,
body {
    background-color: $white-clr;
}

body {
    font-family: 'Poppins-400', sans-serif;
    padding: 0;
    margin: 0;
    font-size: $fnt14;
    background: $grey-clr;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: $secondary-btn-bg;
}

.material-icons {
    font-family: 'Material';
    font-style: normal;
}

.nav-icons {
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $fnt32;
}

.heading1 {
    font-size: $heading2;
    font-family: 'Poppins-700';
    color: $heading-clr;
    line-height: $heading2
}

.subheading {
    font-family: 'Poppins-300';
    font-size: $fnt16;
    line-height: 26px;
}

.midContBg {
    background: $grey-clr;
}

.headerFixCont {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
}

.headerSpace {
    height: 115px;
}

@import '../templates/Navigation/_pageNavigation';

.privacyLightBox 
{

   font-family:'Poppins-600';
   font-size:$fnt14;
	h2 
	{
		font-size:$fnt32;

		span 
		{
			display:block;
			font-weight:500;
		}
	}

	.privacyContent 
	{
		font-size:$fnt14;
		font-weight:500;
	}

	p 
	{
		margin:10px 0px;
	}
}

.slds-modal__content 
{
    border-radius: 10px;
    overflow-y:hidden!important;

    .modalMidCont 
    {
        overflow-y: auto;
        height: 300px;
    }

    .modalCrossIcon 
    {
        color: $grey-clr;
        margin-right: 20px;
        margin-top: 20px;
        font-size: $fnt20;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 15px;

    .lhs_wrapper {
        background: $white-clr;
        border: 1px $brd-box solid;
        padding: 15px 15px 180px;
        border-radius: 8px;
        margin-bottom: 0px;

        .messageWrapper {
            margin-top: 0;
            border: 1px $brd-box solid;
        }
    }
    .slds-gutters {
        margin-left: -15px;
        margin-right: -15px;
    }
    .slds-col {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pageContent {
        line-height: 25px;
    }

    .padding_0 {
        padding: 0;
    }

    .mrgnL20 {
        margin-left: 20px!important;
    }

    .radioCont {

        font-size: $fnt14;
        font-family: 'Poppins-600';

        li {
            float: left;
            width: 33%;
        }
    }

    .buttonBotInfo {
        border-top: 1px $grey-clr solid;
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 70px;
    }




    @import '../templates/Chatter/_chatter.scss';
}

@import '../templates/Header/_header';
@import './_forms';
@import './_buttons';
@import '../templates/LoanCalculator/_loanCalculator';


.carDetailLightBox 
{

   font-family: 'Poppins-600';
   
	h2 
	{
		font-size:$fnt24;
        padding:40px 0px 20px 0px;
	}
}

.estimatePage{
	margin: 0;
	background: $white-clr;
	.lhs_wrapper{
		border: 0;
		border-radius: 0;
	}
}
@media (min-width: 1024px) {
	.estimatePage{
		margin-left: auto;
		margin-right: auto;
		background: transparent;

		.lhs_wrapper{
			margin-bottom: 20px;
			border: 1px #e2e2e2 solid;
    		border-radius: 8px;
		}
	}

	.lhs_wrapper{
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
    .estimate_background {
        background: url('../images/getEstimate_background.jpg') no-repeat 0 0;
        background-size: cover;
    }
    .heading1 {
        font-size: $heading1;
        line-height: $heading1;
    }

    .heading3 {
        font-size: $heading3;
        line-height: 38px;
        font-family: 'Poppins-800';
    }
    .container {
        width: 100%;
        max-width: 1170px;
        margin-top: 3em;
        padding: 0;

        .lhs_wrapper {
            padding: 40px;
        }
    }

    .headerSpace {
        height: 205px;
    }

    .outlineNone {
        outline: none;
    }
}