@import '../../node_modules/@salesforce-ux/design-system/scss/index.scss';


@import '_variables';

html,
body {
    background-color: $white-clr;
}

html {
    height: 100%;
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Poppins-400', sans-serif;
    padding: 0;
    margin: 0;
    font-size: $fnt14;
    background: $grey-clr;
    min-height: 100%;
}

.bgNone {
    background: $white-clr!important;
}

.posRel {
    position: relative;
}


a,
a:hover,
a:focus {
    text-decoration: none;
    color: $secondary-btn-bg;
}

textarea {

    border-radius: 5px;
    border: 1px $border-clr solid;
    width: 100%;
    padding: 20px;
}

.paddT0 {
    padding-top: 0px!important;
}

.mrgnmT15 
{
    margin-top: -15px;
}

.mrgnLsp {
    margin-left: 35px!important;
}

.paddLarge {
    padding-left: 30px;
}

.alignC {
    text-align: center;
}


.alignR {
    text-align: right;
}

.material-icons {
    font-family: 'Material';
    font-style: normal;
}

.nav-icons {
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $fnt32;
}

.heading1 {
    font-size: $heading2;
    font-family: 'Poppins-700';
    color: $heading-clr;
    line-height: $heading2
}

.subheading {
    font-family: 'Poppins-300';
    font-size: $fnt16;
    line-height: 26px;
}

.subheadingSmall {
    font-family: 'Poppins-400';
    font-size: $fnt14;
    line-height: 26px;
    color: $label-txt-clr;
}

.sectionSep {
    border-top: 1px $grey-clr solid;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 35px;
    padding-right: 35px;
}

.midContBg {
    background: $grey-clr;
}

.mrgnL10 {
    margin-left: 10px;
}

.paddAll {
    padding: 20px;
}

.midSep 
{
    width: 100%;
    margin: 0px;
    height: 1px;
    color: $brd-clr-snd;
    margin: 20px 15px;
}

.midSep2 
{
    width: 93%;
    margin: 0px;
    height: 1px;
    margin: 20px 34px;
}

.headLbl 
{
    font-size: $fnt14;
    color:$label-txt-clr;
    opacity: 0.6;
}
.wAuto 
{
    width: auto!important;
}

.fLbl 
{
    font-size: $fnt16;
}

@import '../templates/Navigation/_pageNavigation';

.privacyLightBox {

    font-family: 'Poppins-600';
    font-size: $fnt14;
    h2 {
        font-size: $fnt32;

        span {
            display: block;
            font-family: 'Poppins-500';
        }
    }

    .privacyContent {
        font-size: $fnt14;
        font-family: 'Poppins-500';
    }

    p {
        margin: 10px 0px;
    }
}

.slds-modal__content {
    border-radius: 10px;
    overflow-y: hidden!important;
    padding: 0px 20px;

    .modalMidCont {
        overflow-y: auto;
        height: 220px;
    }

    .modalCrossIcon {
        color: $grey-clr;
        margin-right: 20px;
        margin-top: 20px;
        font-size: $fnt20;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 0px;

    .lhs_wrapper {
        background: $white-clr;
        border: 1px $brd-box solid;
        padding: 15px 26px 180px;
        border-radius: 8px;
        margin-bottom: 0px;

        .messageWrapper {
            margin-top: 0;
            border: 1px $brd-box solid;
        }
    }
    .slds-gutters {
        margin-left: -10px;
        margin-right: -10px;
    }
    .slds-col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pageContent {
        line-height: 25px;
    }

    .padding_0 {
        padding: 0;
    }

    .mrgnL20 {
        margin-left: 20px!important;
    }

    .radioCont {

        font-size: $fnt14;
        font-family: 'Poppins-600';

        li {
            float: left;
            width: 33%;
            .cstm_input {
                min-height: 24px;
                padding-top: 2px;
            }
        }

        .slds-radio {

            width: 33%;
            float: left;
        }
    }

    .buttonBotInfo {
        border-top: 1px $grey-clr solid;
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 70px;
    }

    .heading3 {
        font-size: $heading3!important;
        line-height: 38px;
        padding-left: 26px;
        font-family: 'Poppins-800';
    }


    @import '../templates/Chatter/_chatter.scss';


    .columnWrapper{
        border: 1px solid $brd-box;
        border-radius: 8px 8px 0 0;
        padding: 15px 16px 100px;
        margin-left: 0px;
        margin-right: 0px;
        background: $white-clr;
        margin-bottom: 0;
        border-bottom: 0;

        .lhs_wrapper{
            border: 0;
            padding: 0;
        }
    }
}

@import '../templates/Header/_header';
@import './_forms';
@import './_buttons';
@import '../templates/LoanCalculator/_loanCalculator';


.carDetailLightBox, .passwordLightBox {
    clear: both;
    font-family: 'Poppins-300';

    h2 {
        font-size: $fnt32;
        padding: 20px 0px 20px 0px;
    }
    .cstm_input {
        font-size: $fnt16;
        padding-left: 40px;
    }
}


.passwordLightBox 
{
    h2 {
        font-size: $fnt32;
        font-family: 'Poppins-700';
        padding: 0px 0px 20px 0px;
        line-height: 38px;
    } 

    .subheading 
    {
         font-size: $fnt32;
         line-height: 38px;
    }
}

.estimatePage {
    margin: 0;
    background: $white-clr;
    padding-top: 0px;
    .lhs_wrapper {
        border: 0;
        border-radius: 0;
    }
}


.startPage {

    .headCont {

        background: $blk-clr url('../images/startHeadImg.png') no-repeat 0 center;
        background-size: cover;
        width: 100%;
        min-height: 700px;
        position: relative;

        .inHeadCont {
            color: $white-clr;
            font-size: $fnt18;
            padding: 0px 30px 0px 18px;
            position: static;
            h2 {
                font-size: $fnt60;
                font-family: 'Poppins-500';
                line-height: 65px;
                padding-top: 70px;

                span {
                    font-family: 'Poppins-300';
                }
            }

            .textCont {
                font-family: 'Poppins-300';
                margin-top: 50px;
            }

            .btnSave {
                height: 60px;
                line-height: 60px;
            }

            .learnMore {
                background: none;
                border: none;
                color: $white-clr;
                font-size: $fnt14;
                min-width: 105px;
            }
        }
    }

    .midCont {
        color: $blk-clr;
        h3 {
            padding: 60px 20px 20px 20px;
            font-size: $fnt60;
            line-height: 68px;
            font-family: 'Poppins-300';
        }
        .slds-button {
            cursor: default;
        }
    }

    .rhsImg {
        padding-top: 50px;
    }

    .listInfo {
        h4 {
            font-size: $fnt24;
            margin-bottom: 20px;
            position: relative;
            padding-left: 35px;
        }
        .material-icons {
            position: absolute;
            left: 0px;
            color: $verify-clr;
        }
    }

    .defaultBtn {
        max-width: 220px!important;
    }

    .defaultBntSnd 
    {
        background: none;
    }




    .bottomInfo {
        margin-top: 80px;
        background: transparent url('../images/bottombg.png') no-repeat 0 center;
        background-size: cover;
        width: 100%;
        min-height: 700px;
        padding: 120px 0px 130px 0px;
        font-size: $fnt16;

        h2 {
            font-size: $fnt60;
            padding-bottom: 20px;
            text-align: center;
        }

        .subHead {
            font-size: $fnt18;
        }

        .boxInfo {
            padding-top: 40px;
            text-align: center;

            ul {
                padding: 0 20px;
                li {
                    margin-bottom: 20px;
                    font-size: $fnt24;
                    font-family: 'Poppins-500';
                    .material-icons {
                        font-size: 60px;
                        color: $primary-btn-bg;
                    }
                    &:last-child {
                        font-size: $fnt16;
                        font-family: 'Poppins-300';
                    }
                }
            }
        }
    }
}

.slds-modal__content {
    border-radius: 8px;
}

.extendBorder {
    background: $tooltip-shadow-clr;
    height: 1px;
    border: 0;
    margin: 0 -15px 30px;
}

.heading1 {
    font-size: $heading1;
    line-height: $heading1;
}

.heading3 {
    font-size: $heading3;
    line-height: 38px;
    font-family: 'Poppins-800';
}

.summarySection {
    font-size: $fnt16;
    color: $white-clr;
    background: $secondary-clr;
    border-radius: 8px;
    padding: 50px 30px;

    h2 {
        font-size: $fnt24;
    }

    .inTxt {
        padding-bottom: 20px;
        border-bottom: 1px $border-sclr solid!important;
    }
}

.boxCont {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: $white-clr;
    border: solid 1px $brd-box;
    padding: 20px;
    border-radius: 10px;
}

.midHeading {
    h2 {
        font-size: $fnt20;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .inTxt {
        padding-bottom: 20px;
        border-bottom: 1px $border-sclr solid!important;
    }
}

.midHeading {
    h2 {
        font-size: $fnt24;
        font-family: 'Poppins-600';
        margin-bottom: 10px;
    }
}


.midHeading4 {
    color: $label-txt-clr;
    opacity: 0.6;
    border-bottom: 1px $brd-box solid;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.gridColCont {
    h3 {
        font-size: $fnt24;
        font-family: 'Poppins-600';
    }

    .lbl {
        font-family: 'Poppins-800';
        font-size: $fnt16;
    }

    .total {
        font-size: $fnt24;
        font-family: 'Poppins-800';
    }
}

.address_not_found {
    a,
    a:hover {
        color: $grey-clr;
        color: $disable-chk-clr;
        font-family: 'Poppins-300';
        font-size: $fnt12;
    }
}

.checkCont {
    font-size: $fnt16;
}


.customCheckCont 
{
       input[type="checkbox"]:checked+em,
       input[type="checkbox"]:checked+label {
        background: $white-clr url('../images/icons/green_check.svg') no-repeat center center;
        border-color: $verify-clr;
        background-size: 60%;
    }
}

@media (min-width: 1024px) {


    .algnRd 
    {
        text-align: right;
    }

    .radioCont {
        .slds-radio {

            width: 33%!important;
            float: left;
        }
    }

    .carDetailLightBox {

        h2 {
            font-size: $fnt32;
            padding: 20px 0px 20px 0px;
        }
    }

    .slds-modal__content {
        padding: 0px 30px;
    }

    .startPage {
        .midCont {
            color: $blk-clr;
            float: right;
            h3 {
                padding-top: 140px;
                font-size: $fnt60;
                line-height: 68px;
                font-family: 'Poppins-300';
            }
        }

        .headCont {
            min-height: 1000px;

            .inHeadCont {

                position: absolute;
                right: 40px;
                padding: 0px 30px 30px 30px;

                h2 {
                    padding-top: 260px!important;
                }

                .learnMore {
                    min-width: 105px;
                }
            }
        }

        .rhsImg {
            padding-top: 70px;
        }

        .bottomInfo {
            margin-top: 140px;

            .boxInfo {
                padding-top: 100px;

                ul {
                    li {
                        margin-bottom: 20px;
                    }
                }
            }

            .listInfo {
                .material-icons {
                    position: relative;
                    top: 5px;
                    color: $verify-clr;
                }

                h4 {
                    padding-left: 0px;
                }
            }
        }
    }


    .sectionSep {
        border-top: 1px $grey-clr solid;
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 35px;
        padding-right: 35px;
    }


    .estimatePage {
        margin-left: auto;
        margin-right: auto;
        background: transparent;
        padding-top: 120px !important;
        .lhs_wrapper {
            margin-bottom: 20px;
            border: 1px $brd-box solid;
            border-radius: 8px;
        }
    }

    .lhs_wrapper {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .comm-page-custom-getestimate {
        background: $blk-clr url('../images/getEstimate_background.jpg') no-repeat 0 0;
        background-size: 100%;

        .headerFixCont {
            position: static;
        }
    }


    .heading4 {
        font-size: $fnt20;
    }

    .colWidthLarge {
        width: 80%;
    }



    .container {
        width: 100%;
        max-width: 1170px;
        padding: 3em 0 1em;

        .lhs_wrapper {
            padding: 40px;
        }
        .slds-gutters {
            margin-left: -15px;
            margin-right: -15px;
        }
        .slds-col {
            padding-left: 15px;
            padding-right: 15px;
        }

        .columnWrapper{
            border: 0;
            border-radius:0;
            padding: 0;
            margin-left: -15px;
            margin-right: -15px;
            background: none;
            margin-bottom: 0;
            border-bottom: 0;

            .lhs_wrapper{
                border: 1px $brd-box solid;
                padding: 40px;
            }
        }
        .heading3 {
            padding-left: 0;
        }
    }

    .headerSpace {
        height: 205px;
    }

    .outlineNone {
        outline: none;
    }
    .extendBorder {
        margin: 0 -40px 30px;
    }
}