@import '../../node_modules/@salesforce-ux/design-system/scss/index.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '_variables';

html,
body {
    background-color: $white-clr;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    padding-bottom: 130px;
    margin: 0;
    font-size: $fnt14;
    background: $grey-clr;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: $secondary-btn-bg;
}

.material-icons {
    font-family: 'Material Icons';
}

.nav-icons {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $fnt32;
}

.heading1 {
    font-size: $heading2;
    font-weight: bold;
    color: $heading-clr;
    line-height: $heading2
}

.subheading {
    font-weight: 300;
    font-size: $fnt16;
    line-height: 26px;
}

.midContBg {
    background: $grey-clr;
}

.headerFixCont {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
}

.headerSpace {
    height: 115px;
}

@import '../templates/Navigation/_pageNavigation';

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 1.5em;

    .lhs_wrapper {
        background: $white-clr;
        border: 1px $brd-box solid;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;

        .messageWrapper {
            margin-top: 0;
            border: 1px $brd-box solid;
        }
    }
    .slds-gutters {
        margin-left: -15px;
        margin-right: -15px;
    }
    .slds-col {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pageContent {
        line-height: 25px;
    }

    .padding_0 {
        padding: 0;
    }

    .mrgnL20 {
        margin-left: 20px!important;
    }

    .radioCont {

        font-size: $fnt14;
        font-weight: 600;

        li {
            float: left;
            width: 33%;
        }
    }

    .buttonBotInfo {
        border-top: 1px $grey-clr solid;
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 70px;
    }




    @import '../templates/Chatter/_chatter.scss';
}

@import '../templates/Header/_header';
@import './_forms';
@import './_buttons';
@import '../templates/LoanCalculator/_loanCalculator';


.carDetailLightBox 
{

   font-weight:600;
   
	h2 
	{
		font-size:$fnt24;
	}
}

@media (min-width: 1024px) {
    body {
        padding-bottom: 0px;
    }
    .estimate_background {
        background: url('../images/getEstimate_background.jpg') no-repeat 0 0;
        background-size: cover;
    }
    .heading1 {
        font-size: $heading1;
        line-height: $heading1;
    }

    .heading3 {
        font-size: $heading3;
        line-height: 38px;
        font-weight: 800;
    }
    .container {
        width: 100%;
        max-width: 1170px;
        margin-top: 3em;
        padding: 0;

        .lhs_wrapper {
            padding: 40px;
        }
    }

    .headerSpace {
        height: 205px;
    }

    .outlineNone {
        outline: none;
    }
}