<div class="calculator_wrapper slds-clearfix">
    <h5 class="boxheading">
		Rate &amp; Payments
		<em class="slds-show_large">Your calculated rate amount and interest rate</em>
		
	</h5>
    <h1 class="amount slds-m-bottom_large">
		<em>Amount</em>
		$1730.33
	</h1>
    <h1 class="rate slds-m-bottom_large">
		<em>Interest rate</em>
		6.73%
	</h1>
    <div class="repayment slds-m-top_x-large  slds-m-bottom_xx-large slds-clearfix">
        Repayment frequency
        <ul class="slds-m-top_small">
            <li>
                <label class="cstm_input">
                    <input type="radio" name="repayment">
                    <em></em> <span>Week</span>
                </label>
            </li>
            <li>
                <label class="cstm_input">
                    <input type="radio" name="repayment">
                    <em></em> <span>F/night</span>
                </label>
            </li>
            <li>
                <label class="cstm_input">
                    <input type="radio" name="repayment">
                    <em></em> <span>Month</span>
                </label>
            </li>
        </ul>
    </div>
    <div class="slds-text-align_center slds-show_large">
        <button class="slds-button slds-button_brand applyBtn">Apply now</button>
    </div>
</div>