<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Stratton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.min.css" />
</head>

<body class="estimate_background bgNone">
    <!-- Page Header -->
    @@include('./templates/Header/header.html', {
            "exit": 0,
            "stage": 0
        })
        <!-- Page Header -->
        <!-- Page Navigation -->
        <!-- <% include('templates/navigation') %> -->
        <!-- Page Navigation -->
        <div class="startPage">
            <div class="headCont slds-grid slds-wrap ">
                <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12  inHeadCont">
                    <div>
                        <h2>
                           Ready to<br/> get on the<br/> road? 
                       </h2>
                        <div class="textCont">
                            <p>You're about to start the Stratton<br/> 
                                Finance online application.<br/> This may take up to 10 minutes. 
                            </p>
                        </div>
                        <div class="slds-m-top_xx-large">
                            <button class="slds-button slds-button_brand btnSave">
                                Let's get started!
                            </button>
                            <button class="slds-button slds-button_brand learnMore">
                                Learn more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="midCont slds-size_12-of-12 slds-large-size_11-of-12">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_12-of-12 slds-large-size_7-of-12">
                        <h3>There are three stages to get approved</h3>
                    </div>
                </div>
                <div class="slds-grid slds-wrap ">
                    <div class="slds-col slds-size_12-of-12 slds-large-size_5-of-12">
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><strong>1</strong> Personalised quote
                           </h4>

                            <p>DSo we can provide you with your rate and repayment, we'll ask you to  tell us about yourself including where you live, work and your finances.</p>
                        </div>
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><strong>2</strong> Verification of your details</h4>
                            <p>You'll be asked to provide documentation to confirm your identity, income and details of the car (if you know what you're buying).
                            </p>
                        </div>
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><strong>3</strong> Submit for approval</h4>
                            <p>If you're happy with your lender, rate and repayments you can then be approved online.
                            </p>
                        </div>

                            <div class="paddAll padd_l50"><button class="slds-button applyBtn">Let's get started!</button></div>
                    </div>

                


                    <div class="slds-col slds-size_12-of-12 slds-large-size_7-of-12">
                        <img src="images/homeimg.png" class="rhsImg" />
                    </div>
                </div>
            </div>
            <div class="slds-clearfix"></div>


                    <div class="bottomInfo slds-size_12-of-12 slds-large-size_12-of-12">
                        <h2 class="slds-align_absolute-center">What you’ll need</h2>
                        <p class="subHead alignC">During the process you may be asked<br/> to provide the following:</p>

                        <div class="boxInfo">

                                <div class="slds-align_absolute-center slds-grid slds-wrap">

                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                        
                                        <ul>
                                            <li>
                                                <i class="material-icons">credit_card</i>
                                            </li>
                                            <li>Drivers <br/> licence</li>
                                            <li>We'll need the licence number, state and type and we may need you to upload a copy.</li>
                                        </ul>

                                    </div>

                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                     <div>
                                           <ul>
                                            <li>
                                                <i class="material-icons">aspect_ratio</i>
                                            </li>
                                            <li>Proof of <br/>income</li>
                                            <li>You can either upload your payslips manually or have your bank statements verified online.</li>
                                        </ul>
                                        </div>
                                   </div>


                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                        <ul>
                                            <li>
                                                <i class="material-icons">directions_car</i>
                                            </li>
                                            <li>Car purchase <br/> details</li>
                                            <li>Once you’ve found your new car you will need to provide seller’s details and purchase price.</li>
                                        </ul>
                                    </div>
                                    
                                </div>

                         </div>


                    </div>
        <!-- Page Footer -->
        <!--<% include('templates/footer') %>-->
        <!-- Page Footer -->
        <script src="./javascripts/stratton_scripts.js"></script>
</body>

</html>