<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Stratton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.min.css" />
</head>

<body class="estimate_background bgNone">
    <!-- Page Header -->
    @@include('./templates/Header/header.html')
        <!-- Page Header -->
        <!-- Page Navigation -->
        <!-- <% include('templates/navigation') %> -->
        <!-- Page Navigation -->
        <div class="startPage">
            <div class="headCont slds-grid slds-wrap ">
                <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12  inHeadCont">
                    <div>
                        <h2>
                           Start your  <br/> 
                           <span>
                            online <br/>application  
                            </span>
                       </h2>
                        <div class="textCont">
                            <p>You're about to start the Stratton Finance online application. </p>
                            <p> This may take up to xx minutes. </p>
                            <p> Depending on your individual </p>
                            <p>circumstances you could be approved </p>
                            <p>by a lender within x hours</p>
                        </div>
                        <div class="slds-m-top_xx-large">
                            <button class="slds-button slds-button_brand btnSave">
                                Save and continue
                            </button>
                            <button class="slds-button slds-button_brand learnMore">
                                Learn more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="midCont slds-size_12-of-12 slds-large-size_11-of-12">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_12-of-12 slds-large-size_7-of-12">
                        <h3>There are three stages of our process</h3>
                    </div>
                </div>
                <div class="slds-grid slds-wrap ">
                    <div class="slds-col slds-size_12-of-12 slds-large-size_5-of-12">
                        <p class="paddAll">Of course, motivation really isn’t simple at all. That is why there is multi-billion industry focused on self-help books, tapes, seminars, camps, and coaches.</p>
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><i class="material-icons ">
                              check</i> Step 1: Personalised quote
                           </h4>

                            <p>During the process you will be asked to <br/> provide the following:
                            </p>
                        </div>
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><i class="material-icons">
                                            check</i> Step 2: Verification of your details</h4>
                            <p>Of course we haven’t forgotten about the <br/> responsive layout. Full mobile support.
                            </p>
                        </div>
                        <div class="listInfo slds-m-bottom_x-small paddAll">
                            <h4><i class="material-icons">
                                            check</i>  Step 3: Submit for approval</h4>
                            <p>Of course we haven’t forgotten about the <br/> responsive layout. Full mobile support.
                            </p>
                        </div>

                            <div class="paddAll"><button class="slds-button defaultBtn">Apply Now</button></div>
                    </div>

                


                    <div class="slds-col slds-size_12-of-12 slds-large-size_7-of-12">
                        <img src="images/homeimg.png" class="rhsImg" />
                    </div>
                </div>
            </div>
            <div class="slds-clearfix"></div>


                    <div class="bottomInfo slds-size_12-of-12 slds-large-size_12-of-12">
                        <h2 class="slds-align_absolute-center">What you’ll need</h2>
                        <p class="subHead alignC">During the process you will be asked to provide <br /> the following:</p>

                        <div class="boxInfo">

                                <div class="slds-align_absolute-center slds-grid slds-wrap">

                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                        
                                        <ul>
                                            <li>
                                                <i class="material-icons">credit_card</i>
                                            </li>
                                            <li>Drivers <br/> licence</li>
                                            <li> Of course we haven’t forgotten about the responsive layout. Full mobile support.</li>
                                        </ul>

                                    </div>

                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                     <div>
                                           <ul>
                                            <li>
                                                <i class="material-icons">aspect_ratio</i>
                                            </li>
                                            <li>Drivers <br/> Payslip</li>
                                            <li> Of course we haven’t forgotten about the responsive layout. Full mobile support.</li>
                                        </ul>
                                        </div>
                                   </div>


                                    <div class="slds-size_12-of-12 slds-large-size_4-of-12">
                                        <ul>
                                            <li>
                                                <i class="material-icons">directions_car</i>
                                            </li>
                                            <li>Car purchase <br/> details</li>
                                            <li> Of course we haven’t forgotten about the responsive layout. Full mobile support.</li>
                                        </ul>
                                    </div>
                                    
                                </div>

                         </div>


                    </div>
        <!-- Page Footer -->
        <!--<% include('templates/footer') %>-->
        <!-- Page Footer -->
        <script src="./javascripts/stratton_scripts.js"></script>
</body>

</html>